Format date-time

Nei vari yaml ad esempio per 
```yaml
AvvisoBaseType:
        type: object
        additionalProperties: false
        properties:
          idAvviso:
            description: identificativo univoco dell'Avviso generato da ANAC.
            type: string
            format: uuid
            example: "f81d4fae-7dec-11d0-a765-00a0c91e6bf6" 
          dataCreazione:
            description: Data di crezione dell'Avviso  (A datetime specified by ISO 8601 as profiled by RFC 3339)
            type: string
            format: datetime
            example: '2022-01-23T12:02:05Z'
          dataPubblicazione:
            description: Data di pubblicazione dell'Avviso  (A datetime specified by ISO 8601 as profiled by RFC 3339)
            type: string
            format: datetime
            example: '2022-01-23T12:02:05Z'
          stato:
            $ref: '#/components/schemas/StatoAvvisoEnum'
          tipo:
            $ref: '#/components/schemas/TipoAvvisoEnum'    
```

I campi datetime sono segnati come 
```
type: string
format: datetime
```

Come da specifiche openapi i format consentiti sono [questi](https://swagger.io/docs/specification/data-models/data-types/#string):

An optional format modifier serves as a hint at the contents and format of the string. OpenAPI defines the following built-in string formats:

```
    date – full-date notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21
    date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z
    password – a hint to UIs to mask the input
    byte – base64-encoded characters, for example, U3dhZ2dlciByb2Nrcw==
    binary – binary data, used to describe files (see [Files](https://swagger.io/docs/specification/data-models/data-types/#file) below)
```

Per quanto il format sia a discrezione di chi redige l'openapi esistono degli standard per i campi date e datetime che vengono accettati dai vari tool di autogenerazione/validazione. Per questo motivo sarebbe utile che venissero modificati

Si rimanda alla seguente Issue: 
https://github.com/anticorruzione/npa/issues/81