Scheda P7_2 - Campi date-time che non corrispondono allo standard

Nelle specifiche yaml sono presenti campi con type `string` e format `date-time` con nella descrizione l'annotazione `Date e ora di scadenza per la presentazione delle offerte (hh:mm) - corrisponde al campo bt-131 - Deadline Receipt Tenders del TED`

Il format date-time non viene traslato in un formato hh:mm, ma con un formato definito da [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) con example `2017-07-21T17:32:28Z`

Attualmente il campo non ha nessuna validazione, è possibile mandare anche una stringa non in formato date-time.
Si potrà mandare il dato in formato `2017-07-21T17:32:28Z` e si occuperà la pcp di estrarre l'orario?
In alternativa si può identificare un format adeguato diverso da date-time?

Degli esempi sono il type `DatiTerminiInvioType`
```yaml
DatiTerminiInvioType:
      description: Dato in comune con il Business Group Submission Terms delle eforms 
      additionalProperties: false
      properties:
        scadenzaPresentazioneInvito:
          description: Data e ora di scadenza per la presentazione della richiesta di invito - corrisponde ai campi bt-630 - Deadline Receipt Expressions e bt-1311 - Deadline Receipt Requests del TED
          type: string
          format: date-time
        oraScadenzaPresentazioneOfferte: 
          description: Date e ora di scadenza per la presentazione delle offerte - corrisponde al campo bt-131 - Deadline Receipt Tenders del TED
          type: string
          format: date-time   
```

il type `DatiBaseTerminiInvioSoloOraType`
```yaml
    DatiBaseTerminiInvioSoloOraType:
      description: Dato in comune con il Business Group Submission Terms delle eforms 
      required: [oraScadenzaPresentazioneOfferte]
      additionalProperties: false
      properties:
        oraScadenzaPresentazioneOfferte: 
          description: Date e ora di scadenza per la presentazione delle offerte (hh:mm) - corrisponde al campo bt-131 - Deadline Receipt Tenders del TED
          type: string
          format: date-time  
```

Risolto, da call è emerso che verrà usato sempre l'RFC3339 extended `2023-12-11T15:54:11.373+00:00`